:root{
    color: #ece9e1;
    background-color: #2d2d2d;
    font-family: 'Courier New', Courier, monospace;
}
#foto {
    text-align: center; /* Centra el contenido dentro del div */
    margin: 20px 0; /* Agrega un margen vertical para separar de otros elementos */
	 
}

#foto img {
    max-width: 100%; /* Hace que la imagen sea responsive */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* Hace que la imagen sea circular */
    border: 3px solid #ece9e1; /* Añade un borde de 2px y color #ece9e1 */
    padding: 2px; /* Opcional: agrega un poco de espacio entre la imagen y el borde */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total */
}

#map {
    width: 100%;
    max-width: 600px; /* Máximo de 600px pero adaptable a pantallas pequeñas */
    height: 400px;
}
h1{
    text-align: center;
	color: #ece9e1;
	font-size: 70px;
    font-weight: 600;
    text-shadow: 0px 0px 5px #c2b697, 0px 0px 10px #c2b697, 0px 0px 10px #c2b697,
    0px 0px 20px #c2b697;
}

#menu {
    background: #ece9e1;
    height: 80px;
    padding: 0 18px; /* Padding horizontal */
    border-radius: 10px;
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
}

#menu ul {
    display: flex;
    width: 100%; /* Asegura que ocupe todo el ancho */
    justify-content: space-between; /* Espacio uniforme entre los elementos */
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li {
    flex-grow: 1; /* Permite que cada elemento ocupe el mismo espacio */
}

#menu a {
    display: flex; /* Cambia a flex para alinear verticalmente */
    align-items: center; /* Centra verticalmente el texto */
    height: 80px; /* Asegura la misma altura que el menú */
    padding: 0 14px;
    text-decoration: none;
    color: #3d3d3d;
    font-size: 30px;
    text-align: center; /* Centra el texto horizontalmente */
}

.social-icons {
    display: flex; /* Asegúrate de que los iconos estén en una fila */
    align-items: center; /* Centrar iconos verticalmente */
    margin-left: auto; /* Mueve los iconos al extremo derecho */
}

.social-icons img {
    width: 30px; /* Ajusta el tamaño de los iconos */
    height: 30px; /* Ajusta el tamaño de los iconos */
    margin: 0 10px; /* Espacio entre los iconos */
    transition: transform 0.3s;
}

#menu li a:hover,
.social-icons img:hover {
    color: #43BEE5;
    background: #F0F8FF;
    transform: scale(1.1); /* Efecto de aumento al pasar el mouse */
}


#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

#menu label {
    display: none;
    line-height: 80px;
    text-align: center;
    position: absolute;
    left: 35px;
}

#menu label:before {
    font-size: 2em;
    color: #F0F8FF;
    content: "\2261"; 
    margin-left: 20px;
}

@media screen and (max-width: 800px) {
    #menu {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: flex-start; /* Alinear a la izquierda */
    }

    #menu ul {
        background: #444444;
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        display: none; /* Ocultar el menú por defecto */
    }

    #menu input:checked ~ ul {
        display: flex; /* Mostrar menú cuando el checkbox está marcado */
    }

    #menu li {
        width: 100%; /* Asegurar que los elementos ocupen el 100% del ancho */
    }
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.skill {
    background-color: #ece9e1; /* Fondo para cada skill */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s;
}

.skill:hover {
    transform: scale(1.05); /* Efecto al pasar el mouse */
}

.skill img {
    max-width: 150px;
	max-height: 150px;
    margin-bottom: 10px;
}

.progress-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
	
}

.progress-bar {
    flex-grow: 1;
    height: 15px;
    background-color: #ece9e1;
    border-radius: 7px;
    overflow: hidden;
    margin-right: 10px;
	border: 1px solid #2d2d2d;
}

.progress {
    height: 100%;
    background-color: #2d2d2d; /* Color de la barra de progreso */
    border-radius: 7px;
}

.progress-percentage {
    color: #333;
    font-weight: bold;
    font-size: 1em;
}
.section-container {
    display: block; /* Mantiene cada sección en su propia línea */
    background-color: #ece9e1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centra las secciones en la página */
    max-width: 800px; /* Limita el ancho máximo del contenedor */
    width: 90%; /* Asegura que se ajuste bien en pantallas pequeñas */
    transition: transform 0.3s ease;
	min-width: 300px;
}
.cambio-ancho{
	max-width: 600px;
}
.section-container:hover {
    transform: scale(1.02); /* Efecto al pasar el mouse */
}
.sub-section{
	background-color: #2d2d2d; /* Fondo */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px; /* Separación entre secciones */
    transition: transform 0.3s; /* Suave transformación en hover */
}
h2,p,li {
    color: #2d2d2d;
}
h3{
	font-size: x-large;
	color: #ece9e1;
    text-shadow: 0px 0px 5px #c2b697, 0px 0px 10px #c2b697, 0px 0px 10px #c2b697,
    0px 0px 20px #c2b697;
}
.no-hover:hover {
    transform: none; /* Desactiva el efecto de hover */
}
/* Estilos generales del formulario */
form {
    background-color: #ece9e1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 600px;
	max-height: 800px;
    margin: 20px auto; /* Centra el formulario */
}

/* Estilo de los labels con fuente bold */
form label {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    color: #333; /* Texto más oscuro para buen contraste */
}

/* Estilo de los inputs y textarea */
form input[type="text"],
form input[type="email"],
form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; /* Fondo suave */
    color: #333;
    transition: all 0.3s ease;
}

/* Cambia el borde al hacer focus */
form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    border-color: #999;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo del botón de envío alineado a la derecha */
form button[type="submit"] {
    background-color: #333; /* Botón oscuro */
    color: #fff; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto hover en el botón */
form button[type="submit"]:hover {
    background-color: #555;
}
form .form-group-submit {
    text-align: right; /* Alinea el contenido (botón) a la derecha */
}

/* Espaciado para cada campo del formulario */
.form-group {
    margin-bottom: 20px;
    clear: both; /* Asegura que cada grupo esté en su propia línea */
}
.form-group label{
	font-size: large;
	font-weight: bold;
}

/* Estilo del textarea */
form textarea {
    height: 150px; /* Altura del área de texto */
    resize: vertical;
}

/* Estilo del input al hacer hover */
form input[type="text"]:hover,
form input[type="email"]:hover,
form textarea:hover {
    border-color: #888;
}

form h2{
	text-align: center;
	font-weight: bolder;
}
.map-container {
    display: flex;
    justify-content: center; /* Centra el mapa horizontalmente */
    align-items: center;     /* Centra el contenido verticalmente si es necesario */
    width: 100%;
}
.copyright p{
	color: #ece9e1;
    text-align: center;
}
h2{
	font-size: xx-large;
    text-shadow: 0px 0px 10px #6c6c6c, 0px 0px 10px #6c6c6c, 0px 0px 10px #6c6c6c,
    0px 0px 20px #6c6c6c;
}
li,p{
	font-size: large;
}
.proyectos {
    background-color: #ece9e1; /* Fondo de la imagen */
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.proyectos img {
    max-width: 250px;
    max-height: 250px;
    transition: transform 0.3s ease;
}

.proyectos:hover img {
    transform: scale(1.05); /* Agranda la imagen ligeramente */
}
.proyectos-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.form-map-container{
    display: block; /* Mantiene cada sección en su propia línea */
    background-color: #ece9e1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin:auto; /* Centra las secciones en la página */
    max-width: 800px; /* Limita el ancho máximo del contenedor */
    width: 90%; /* Asegura que se ajuste bien en pantallas pequeñas */
    transition: transform 0.3s ease;
	min-width: 300px;
    text-align: center;
}
.highlight {
    font-weight: bold; /* Pone el texto en negrita */
    color: #43BEE5;   /* Cambia el color del texto */
}
